<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<ng2-toasty></ng2-toasty>

<div class="card-body">
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3">
      <button type="button" (click)="removeFields();addorUpdateActivity.show();" class="btn btn-primary"><i
          class="fa fa-lightbulb-o"></i>&nbsp;Add Activity</button> &nbsp;&nbsp;&nbsp;
      <button style="margin-right:34px" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o  "
          style="font-size:15px;color:blue"></i></button>
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>User Activity List
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of activitys | paginate: { itemsPerPage: 3, currentPage: currentPage };let i=index;">
                <td>{{list.activity_name}}</td>
                <td>{{list.activity_type}}</td>
                <td>{{list.activity_desc}}</td>
                <td> <button class="btn-primary" data-toggle="modal"
                    (click)="addorUpdateActivity.show();editUserActivity(list,i)"><i class="fa fa-edit"></i></button>
                </td>
                <td> <button class="btn-danger" data-toggle="modal"
                    (click)="deleteActivity.show();deleteUserActivities(list,i)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addorUpdateActivity="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-12">
          <div class="card" style="margin-bottom: 0;">
            <div class="card-header">
              <strong *ngIf="!activities.activity_id">Add Activity</strong>
              <strong *ngIf="activities.activity_id">Edit Activity</strong>
              <button type="button" class="close" (click)="addorUpdateActivity.hide();backupData()">&times;</button>
            </div>
            <div class="card-body">
              <form [formGroup]="activityForm">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Activity Name<b
                      style="color:red">*</b></label>
                  <div class="col-md-9">
                    <textarea type="text" rows="5" maxlength="500" formControlName="Name" class="form-control"
                      placeholder="Activity Name" [(ngModel)]="activities.activity_name"
                      [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"></textarea>
                    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                      <div *ngIf="f.Name.errors.required" style="color:red">Activity Name required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Activity Type<b
                      style="color:red">*</b></label>
                  <div class="col-md-9">
                    <textarea type="text" rows="5" maxlength="500" formControlName="Type" class="form-control"
                      placeholder="activity type" [(ngModel)]="activities.activity_type"
                      [ngClass]="{ 'is-invalid': submitted && f.Type.errors }"></textarea>
                    <div *ngIf="submitted && f.Type.errors" class="invalid-feedback">
                      <div *ngIf="f.Type.errors.required" style="color:red">Activity Type is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Activity Description<b
                      style="color:red">*</b></label>
                  <div class="col-md-9">
                    <textarea type="text" rows="5" maxlength="500" formControlName="Description" class="form-control"
                      placeholder="activity Description" [(ngModel)]="activities.activity_desc"
                      [ngClass]="{ 'is-invalid': submitted && f.Type.errors }"></textarea>
                    <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                      <div *ngIf="f.Description.errors.required" style="color:red">Activity Description is required
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="activities.activity_id">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Status</label>
                    <div class="col-md-9">
                      <select class="form-control" name="vehicletype1" [(ngModel)]="activities.activity_status"
                        [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}">
                        <option value="1">Active</option>
                        <option value="0">In active</option>
                      </select>
                    </div>
                  </div>
                </div>
                <span *ngIf="!activities.activity_id">
                  <button style="margin-left: 26%;" class="btn btn-primary" (click)="addUserActivity()">ADD</button>

                </span>
                <span *ngIf="activities.activity_id">
                  <button style="margin-left: 26%;" class="btn btn-primary" (click)="addUserActivity()">Update</button>
                </span>
                &nbsp;&nbsp;
                <button type="button" id="CloseButton" class="btn btn-secondary"
                  (click)="addorUpdateActivity.hide();backupData()">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #deleteActivity="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#EC8D8D">
        <h4 class="modal-title">Delete User Activity</h4>
        <button type="button" class="close" (click)="deleteActivity.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to Delete ?</p>
      </div>
      <div class="container">
        <table class="table table-bordered table-striped table-sm" style="padding:10px;">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{deleteRecord.activity_name}}</td>
              <td>{{deleteRecord.activity_type}}</td>
              <td>{{deleteRecord.activity_desc}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="deleteActivity.hide()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteActivity.hide();deleteActivities();">Delete</button>
      </div>
    </div>
  </div>
</div>